.login-header{
    background-color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login-header-logo{
    width: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: auto;
    margin-left: auto;
    object-fit: contain;
}
.login-container > h1{
    font-size: 28px;
    font-weight: 400px;
    line-height: 1.2;
}
.login-container > p{
    display: block;
    font-size: 20px;
    padding-left: 2px;
    padding-bottom: 2px;
    font-weight: 700;
}

.login-container{
    width: 300px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border: 1px solid lightgray;
    padding: 20px;
}
form > h1{
    font-weight: 450;
    margin-bottom: 10px;
}
form > h5{
    margin-bottom: 5px;
    padding-top: 5px;
}
form > input{
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 98%;
}

form > button{
    padding: 10px;
    margin-top: 12px;
    background-color: #FFD814;
    border-color: #FCD200;
    border-radius: 8px;
    box-shadow: 0 2px 5px 0 rgba(213 , 217 , 217 , .5);
    width: 100% !important;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    text-align: center;
    text-decoration: none !important;
    vertical-align: middle;
}
.login-container > p {
    font-size: 12px;
    font-weight: 500;
}
form{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.login-header > p{
    font-size: 12px;
    color: gray;
    width:24%; 
    text-align: center; 
    border-bottom: 1px solid #ccc; 
    line-height: 0.1em;
    margin: 30px 0 20px; 
}
.login-header > p > span{
    background:#fff; 
    padding:0 10px; 
}

.login-register-btn{
    padding: 10px;
    background-color: #FFD814;
    border-color: #FCD200;
    border-radius: 8px;
    box-shadow: 0 2px 5px 0 rgba(213 , 217 , 217 , .5);
    width: 24% !important;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    text-align: center;
    text-decoration: none !important;
    vertical-align: middle;
}

.login-footer-line{
    width: 100%;
    height: 1px;
    background-color: #ccc;
    margin-top: 25px;
}

.login-footer{
    font-size: 12px;
    font-weight: 500;
    color: #111;
    width:100%; 
    text-align: center; 
    margin: 30px 0 20px;
}
