.subtotal {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.subtotal > * {
    margin-bottom: 10px; /* Adjust the margin as needed */
}

.subtotal > p {
    font-size: 18px;
    font-weight: 600;
}


.subtotal-gift{
    display: flex;
    align-items: center;
    font-weight: 400;
    padding: 0 0 0 5px;
    color: #0F1111;
    font-weight: 550;
}

.subtotal-gift > input{
    margin-right: 5px;
}

.subtotal button{
    padding: 10px;
    background-color: #FFD814;
    border-color: #FCD200;
    border-radius: 8px;
    box-shadow: 0 2px 5px 0 rgba(213 , 217 , 217 , .5);
    width: 100% !important;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    text-align: center;
    text-decoration: none !important;
    vertical-align: middle;
}